<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="email?.invalid && email?.touched">
        <small>Please enter a valid email address.</small>
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="password?.invalid && password?.touched">
        <small>Password must be at least 8 characters long.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  